<div class="col-md-4 col-md-offset-1">
<h4>A qué nos dedicamos:</h4>
<h3>Gestión Estratégica</h3>
<p>La necesidad de garantizar la continuidad de los negocios que son cada día más dependientes de la tecnología, requiere una cuidadosa planificación de los objetivos, recursos, estructuras y metodologías. Con el marco metodológico de las normas ISO 27001 se trabaja estrechamente con la Organización en el desarrollo de:
<br>
<ul>
  <li>Las políticas, normas y procedimientos de seguridad de la información.</li>
  <li>Estándares de seguridad.</li>
  <li>El Plan para la implementación de las políticas, normas y procedimientos en su totalidad.</li>
</ul>

<h3>Auditorías de Seguridad</h3>
<p>Los servicios de auditoría que ofrecemos abarcan la revisión y evaluación de la seguridad desde todos los ámbitos técnicos, tecnológicos y organizativos de la seguridad.
La experiencia y mejora constante de nuestro equipo nos permite definir e idear procedimientos y estrategias de revisión sobre los sistemas tecnológicos y las propias tecnologías que día a día aparecen en el mercado </p>
<h3>Investigación de Fraude y Analisis Forense Informático</h3>
<p>Asistimos a empresas en la detección de fraude interno garantizando la 
preservación y validez técnica de los medios de prueba informática
que se produzcan para ser presentados en la corte. </p>
<br>
</div>

<div class="col-md-4 col-md-offset-2">
<div data-wow-offset="128" class="col-md-12 feature boxed wow fadeInUp" style="visibility: visible; background-color:#f2f3f4;">
<h4>Acerca de mi:</h4>
  <div align="center">
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="lucasnogueron"><a class="LI-simple-link" href='https://ar.linkedin.com/in/lucasnogueron?trk=profile-badge'>Lucas Nogueron</a></div>
  </div>
<br>
<h4>Contacto</h4>
<p> ¿Interesado en trabajar juntos?, ¿Tiene alguna pregunta o algo que quiera compartir? <br>Póngase en contacto con nosotros en <a href="mailto:lnogueron@gmail.com">lnogueron@gmail.com</a></p>
  <div class="social-icon-list" align="center">
    <a title="Twitter" href="https://twitter.com/lnogueron"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/lnogueron"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="LinkedIn" href="https://linkedin.com/in/lucasnogueron"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
    <a title="E-Mail" href="mailto:lnogueron@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
</div>
<!--
<h3>Extracto</h3>
<p><b>Ingeniero en Sistemas de Información especialista en Seguridad Informática </b>, destacando:
<br>
<ul ul type="square">
  <li>Gestión Estratégica de Seguridad de la Información. </li>
  <li>Elaboración de Políticas, Normas, Procedimientos y Estándares de Seguridad. </li>
  <li>Gestión de Riesgos e Incidentes de Seguridad Informática. </li>
  <li>Coordinación de Proyectos de CiberSeguridad. </li>
  <li>Auditoria y Control de Sistemas de Información. </li>
  <li>Frameworks Magerit v3, ISO 9001, ISO 30000, ISO 27001 y CobiT de ISACA </li> </ul></p>
<h3>Contacto</h3>
<p> ¿Interesado en trabajar juntos?, ¿Tiene alguna pregunta o algo que quiera compartir? <br>Póngase en contacto con nosotros en <a href="mailto:lnogueron@gmail.com">lnogueron@gmail.com</a></p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/lnogueron"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/lnogueron"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="LinkedIn" href="https://linkedin.com/in/lucasnogueron"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
    <a title="E-Mail" href="mailto:lnogueron@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
</div>

-->

